body {
    text-align: center;
    background: #dddddd;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 72px;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

.top {
  margin-top: 10px;
  background-color: #aaaaaa;
  border-radius: 10px;
  padding: 20px;
  font-size: 32px;
  font-family: 'Courier New', Courier, monospace;
}

.bottom {
  margin-top: 0px;
  background-color: #cccccc;
  border-radius: 10px;
  padding: 20px;
  font-size: 32px;
  font-family: 'Courier New', Courier, monospace;
  display: none;
}